{% extends "AppAero/padre.html" %}
{% load static %}
{% block navbar %}
<li class="nav-item"><a class="nav-link" href="pasajerosformulario">Pasajeros</a></li>
<li class="nav-item"><a class="nav-link" href="azafatasformulario">Azafatas</a></li>
<li class="nav-item"><a class="nav-link" href="pilotosformulario">Pilotos</a></li>
<li class="nav-item"><a class="nav-link" href="administrativosformulario">Personal Administrativo</a></li>
<li class="nav-item"><a class="nav-link" href="busquedaapellido">Busqueda</a></li>
{% endblock %}
{% block modificable %}
<h1 class="mx-auto my-0 text-uppercase">Perfil usuario</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">modificar perfil de {{usuario}}</h2>

<form action="{% url 'editarperfil' %}" method="POST">
    {% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type = "submit" value="Guardar">
</form>

<h2><li><a href="logout">Salir de la Cuenta</a></li></h2>

{% endblock %}