{% extends "AppAero/padre.html" %}
{% load static %}
{% block navbar %}
<li class="nav-item"><a class="nav-link" href="pasajerosformulario">Pasajeros</a></li>
<li class="nav-item"><a class="nav-link" href="azafatasformulario">Azafatas</a></li>
<li class="nav-item"><a class="nav-link" href="pilotosformulario">Pilotos</a></li>
<li class="nav-item"><a class="nav-link" href="administrativosformulario">Personal Administrativo</a></li>
<li class="nav-item"><a class="nav-link" href="busquedaapellido">Busqueda</a></li>
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="/AppAero/editarperfil">Tú Perfil</a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="/AppAero/login">Log In / Sign Up</a></li>
{% endif %}
{% endblock %}
{% block modificable %}
<h1 class="mx-auto my-0 text-uppercase">LOG OUT </h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Te has deslogueado satisfactoriamente, hasta la proxima !</h2>
{% endblock %}